[Desktop Entry]
Type=Application
StartupWMClass=QPuter
Categories=Utility;Education
Comment=Update your Flipper easily
Icon=qFlipper
Name=QPuter
Exec=QPuter
Terminal=false

